@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  /* Change the default font family in all browsers (opinionated). */
  font-family: "Lato", sans-serif;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: "Lato", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.landing-section {
  display: grid;
  grid-template-columns: 618fr 382fr; }
  @media screen and (max-width: 600px) {
    .landing-section {
      position: relative;
      display: block; } }
  .landing-section-left {
    grid-column: 1;
    background-color: #151515; }
    @media screen and (max-width: 600px) {
      .landing-section-left {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%; } }
    .landing-section-left__image {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      max-width: 100vw;
      object-fit: cover;
      filter: brightness(68%); }
      @media screen and (max-width: 600px) {
        .landing-section-left__image {
          filter: brightness(52%); } }
      .landing-section-left__image-wrapper {
        position: relative;
        height: 100%;
        width: 100%; }
      .landing-section-left__image-overlay {
        position: relative;
        width: 100%;
        height: 100%; }
        .landing-section-left__image-overlay-wrapper {
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100vh;
          overflow: hidden;
          mix-blend-mode: screen; }
          @media screen and (max-width: 600px) {
            .landing-section-left__image-overlay-wrapper {
              display: none; } }
        .landing-section-left__image-overlay-bokeh {
          position: absolute;
          border-radius: 50%;
          animation-name: bokeh;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          will-change: transform; }
          .landing-section-left__image-overlay-bokeh:nth-child(1) {
            width: 11rem;
            height: 11rem;
            top: 59%;
            left: 5%;
            color: #2121218f;
            opacity: 0.9;
            box-shadow: 16rem 0 0.51629rem currentColor;
            transform-origin: 2rem 20rem;
            animation-duration: 81s;
            filter: brightness(251%); }
          .landing-section-left__image-overlay-bokeh:nth-child(2) {
            width: 12rem;
            height: 12rem;
            top: 12%;
            left: 81%;
            color: #212121e6;
            opacity: 0.9;
            box-shadow: 17rem 0 0.70277rem currentColor;
            transform-origin: -19rem 1rem;
            animation-duration: 76s;
            filter: brightness(256%); }
          .landing-section-left__image-overlay-bokeh:nth-child(3) {
            width: 12rem;
            height: 12rem;
            top: 8%;
            left: 5%;
            color: #212121e6;
            opacity: 0.9;
            box-shadow: 17rem 0 0.35886rem currentColor;
            transform-origin: 16rem 4rem;
            animation-duration: 78s;
            filter: brightness(152%); }
          .landing-section-left__image-overlay-bokeh:nth-child(4) {
            width: 12rem;
            height: 12rem;
            top: 22%;
            left: 29%;
            color: #212121e6;
            opacity: 1;
            box-shadow: 17rem 0 0.58284rem currentColor;
            transform-origin: 9rem -4rem;
            animation-duration: 73s;
            filter: brightness(258%); }
          .landing-section-left__image-overlay-bokeh:nth-child(5) {
            width: 13rem;
            height: 13rem;
            top: 47%;
            left: 50%;
            color: #212121e6;
            opacity: 0.7;
            box-shadow: 18rem 0 0.57809rem currentColor;
            transform-origin: 14rem -12rem;
            animation-duration: 80s;
            filter: brightness(246%); }
          .landing-section-left__image-overlay-bokeh:nth-child(6) {
            width: 11rem;
            height: 11rem;
            top: 25%;
            left: 74%;
            color: #21212133;
            opacity: 0.7;
            box-shadow: 16rem 0 0.48419rem currentColor;
            transform-origin: 4rem -18rem;
            animation-duration: 66s;
            filter: brightness(275%); }
          .landing-section-left__image-overlay-bokeh:nth-child(7) {
            width: 12rem;
            height: 12rem;
            top: -3%;
            left: 8%;
            color: #21212133;
            opacity: 0.8;
            box-shadow: 17rem 0 0.77769rem currentColor;
            transform-origin: -3rem 19rem;
            animation-duration: 84s;
            filter: brightness(198%); }
          .landing-section-left__image-overlay-bokeh:nth-child(8) {
            width: 13rem;
            height: 13rem;
            top: -26%;
            left: 31%;
            color: #f2f2f21a;
            opacity: 0.8;
            box-shadow: 18rem 0 0.79468rem currentColor;
            transform-origin: 8rem -16rem;
            animation-duration: 78s;
            filter: brightness(225%); }
          .landing-section-left__image-overlay-bokeh:nth-child(9) {
            width: 11rem;
            height: 11rem;
            top: 68%;
            left: 75%;
            color: #21212133;
            opacity: 0.8;
            box-shadow: 16rem 0 0.77815rem currentColor;
            transform-origin: -15rem -5rem;
            animation-duration: 85s;
            filter: brightness(152%); }
          .landing-section-left__image-overlay-bokeh:nth-child(10) {
            width: 12rem;
            height: 12rem;
            top: 66%;
            left: 32%;
            color: #212121e6;
            opacity: 0.8;
            box-shadow: 17rem 0 0.58033rem currentColor;
            transform-origin: 12rem 19rem;
            animation-duration: 60s;
            filter: brightness(273%); }
          .landing-section-left__image-overlay-bokeh:nth-child(11) {
            width: 11rem;
            height: 11rem;
            top: 75%;
            left: 93%;
            color: #212121e6;
            opacity: 1;
            box-shadow: 16rem 0 0.70928rem currentColor;
            transform-origin: 4rem 5rem;
            animation-duration: 60s;
            filter: brightness(243%); }
          .landing-section-left__image-overlay-bokeh:nth-child(12) {
            width: 13rem;
            height: 13rem;
            top: 49%;
            left: 17%;
            color: #21212133;
            opacity: 0.8;
            box-shadow: 18rem 0 0.71541rem currentColor;
            transform-origin: -19rem -1rem;
            animation-duration: 65s;
            filter: brightness(164%); }
          .landing-section-left__image-overlay-bokeh:nth-child(13) {
            width: 13rem;
            height: 13rem;
            top: 42%;
            left: 98%;
            color: #f2f2f21a;
            opacity: 0.8;
            box-shadow: 18rem 0 0.78271rem currentColor;
            transform-origin: 2rem -7rem;
            animation-duration: 72s;
            filter: brightness(153%); }
          .landing-section-left__image-overlay-bokeh:nth-child(14) {
            width: 13rem;
            height: 13rem;
            top: -9%;
            left: 54%;
            color: #2121218f;
            opacity: 0.9;
            box-shadow: 18rem 0 0.65742rem currentColor;
            transform-origin: 7rem 1rem;
            animation-duration: 62s;
            filter: brightness(154%); }
          .landing-section-left__image-overlay-bokeh:nth-child(15) {
            width: 11rem;
            height: 11rem;
            top: 6%;
            left: 12%;
            color: #21212133;
            opacity: 0.9;
            box-shadow: 16rem 0 0.69938rem currentColor;
            transform-origin: 11rem -10rem;
            animation-duration: 69s;
            filter: brightness(223%); }
          .landing-section-left__image-overlay-bokeh:nth-child(16) {
            width: 12rem;
            height: 12rem;
            top: -7%;
            left: 29%;
            color: #21212133;
            opacity: 1;
            box-shadow: 17rem 0 0.66287rem currentColor;
            transform-origin: -8rem -11rem;
            animation-duration: 64s;
            filter: brightness(274%); }
          .landing-section-left__image-overlay-bokeh:nth-child(17) {
            width: 13rem;
            height: 13rem;
            top: 50%;
            left: 51%;
            color: #2121218f;
            opacity: 1;
            box-shadow: 18rem 0 0.62803rem currentColor;
            transform-origin: -9rem 13rem;
            animation-duration: 75s;
            filter: brightness(277%); }
          .landing-section-left__image-overlay-bokeh:nth-child(18) {
            width: 12rem;
            height: 12rem;
            top: 11%;
            left: 57%;
            color: #212121e6;
            opacity: 0.9;
            box-shadow: 17rem 0 0.59077rem currentColor;
            transform-origin: -13rem -3rem;
            animation-duration: 75s;
            filter: brightness(226%); }
          .landing-section-left__image-overlay-bokeh:nth-child(1) {
            top: 27%;
            left: 65%; }
          .landing-section-left__image-overlay-bokeh:nth-child(2) {
            top: 13%;
            left: 75%; }
          .landing-section-left__image-overlay-bokeh:nth-child(3) {
            top: 49%;
            left: 72%; }
          .landing-section-left__image-overlay-bokeh:nth-child(4) {
            top: 27%;
            left: 67%; }

@keyframes bokeh {
  100% {
    transform: rotate(360deg); } }
  .landing-section-right {
    position: relative;
    grid-column: 2;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px -10px 55px -102px rgba(0, 0, 0, 0.45);
    background-color: white; }
    @media screen and (max-width: 600px) {
      .landing-section-right {
        box-shadow: none;
        background-color: transparent; } }
    .landing-section-right__text-mobile {
      margin: -3% 0; }
      .landing-section-right__text-mobile--yellow-bold {
        padding-top: 5%;
        font-weight: 700;
        color: #ffda38; }
        .landing-section-right__text-mobile--yellow-bold {
          letter-spacing: 2.5px; }
          @media screen and (min-width: 0) {
            .landing-section-right__text-mobile--yellow-bold {
              letter-spacing: calc(0.13021vw + 2.5px); } }
          @media screen and (min-width: 1920px) {
            .landing-section-right__text-mobile--yellow-bold {
              letter-spacing: 5px; } }
        @media screen and (max-width: 600px) and (max-height: 480px) {
          .landing-section-right__text-mobile--yellow-bold {
            font-size: 21.33333px; } }
  @media screen and (max-width: 600px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-mobile--yellow-bold {
      font-size: calc(4.16667vw + 21.33333px); } }
  @media screen and (max-width: 600px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-mobile--yellow-bold {
      font-size: 128px; } }
      .landing-section-right__text-mobile--grey-regular {
        color: #fffadecc; }
        .landing-section-right__text-mobile--grey-regular {
          font-size: 42.66667px; }
          @media screen and (min-width: 0) {
            .landing-section-right__text-mobile--grey-regular {
              font-size: calc(4.44444vw + 42.66667px); } }
          @media screen and (min-width: 1920px) {
            .landing-section-right__text-mobile--grey-regular {
              font-size: 128px; } }
        @media screen and (max-width: 600px) and (max-height: 480px) {
          .landing-section-right__text-mobile--grey-regular {
            font-size: 21.33333px; } }
  @media screen and (max-width: 600px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-mobile--grey-regular {
      font-size: calc(4.16667vw + 21.33333px); } }
  @media screen and (max-width: 600px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-mobile--grey-regular {
      font-size: 128px; } }
    .landing-section-right__text-container-mobile {
      position: absolute;
      top: 41%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .landing-section-right__text-container-mobile {
        font-size: 42.66667px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-container-mobile {
            font-size: calc(5.52319vw + 21.95469px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-container-mobile {
            font-size: 128px; } }
      @media screen and (min-width: 601px) {
        .landing-section-right__text-container-mobile {
          display: none; } }
    .landing-section-right__text-container-left, .landing-section-right__text-container-right {
      position: absolute;
      top: 35%;
      left: 0; }
      .landing-section-right__text-container-left, .landing-section-right__text-container-right {
        line-height: 60px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-container-left, .landing-section-right__text-container-right {
            line-height: calc(7.76699vw + 30.87379px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-container-left, .landing-section-right__text-container-right {
            line-height: 180px; } }
      @media screen and (max-width: 600px) {
        .landing-section-right__text-container-left, .landing-section-right__text-container-right {
          display: none; } }
    .landing-section-right__text-container-left {
      transform: translate(-101%, -50%);
      mix-blend-mode: screen;
      font-weight: 900;
      letter-spacing: 10px;
      text-align: right;
      color: #ffd109; }
      .landing-section-right__text-container-left {
        font-size: 43.73333px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-container-left {
            font-size: calc(5.66127vw + 22.50356px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-container-left {
            font-size: 131.2px; } }
      @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) {
        .landing-section-right__text-container-left {
          font-size: 21.86667px; } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-container-left {
      font-size: calc(4.27083vw + 21.86667px); } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-container-left {
      font-size: 131.2px; } }
      @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) {
        .landing-section-right__text-container-left {
          line-height: 30px; } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-container-left {
      line-height: calc(5.85938vw + 30px); } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-container-left {
      line-height: 180px; } }
    .landing-section-right__text-container-right {
      transform: translate(3%, -50%);
      text-align: left;
      color: #212121f2; }
      .landing-section-right__text-container-right {
        padding-top: 6.24px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-container-right {
            padding-top: calc(0.80777vw + 3.21087px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-container-right {
            padding-top: 18.72px; } }
      .landing-section-right__text-container-right {
        font-size: 36.26667px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-container-right {
            font-size: calc(4.69471vw + 18.66149px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-container-right {
            font-size: 108.8px; } }
      @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) {
        .landing-section-right__text-container-right {
          font-size: 21.86667px; } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-container-right {
      font-size: calc(4.27083vw + 21.86667px); } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-container-right {
      font-size: 131.2px; } }
      @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) {
        .landing-section-right__text-container-right {
          line-height: 30px; } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 0) {
    .landing-section-right__text-container-right {
      line-height: calc(5.85938vw + 30px); } }
  @media screen and (min-width: 480px) and (max-width: 800px) and (max-height: 480px) and (min-width: 2560px) {
    .landing-section-right__text-container-right {
      line-height: 180px; } }
    .landing-section-right__text-upper-left, .landing-section-right__text-upper-right, .landing-section-right__text-lower-left, .landing-section-right__text-lower-right {
      margin: 0;
      padding: 0; }
    .landing-section-right__text-description, .landing-section-right__text-read-more {
      position: absolute; }
      .landing-section-right__text-description, .landing-section-right__text-read-more {
        font-size: 12px; }
        @media screen and (min-width: 600px) {
          .landing-section-right__text-description, .landing-section-right__text-read-more {
            font-size: calc(0.90909vw + 6.54545px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-description, .landing-section-right__text-read-more {
            font-size: 24px; } }
    .landing-section-right__text-description {
      z-index: 1;
      bottom: 23%;
      left: 14%;
      padding: 0 15% 0 0; }
      .landing-section-right__text-description {
        line-height: 15.6px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-description {
            line-height: calc(1.00971vw + 11.81359px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-description {
            line-height: 31.2px; } }
      @media screen and (max-width: 600px) {
        .landing-section-right__text-description-wrapper {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          bottom: 0;
          width: 100vw;
          height: 18vh;
          background: white; } }
      @media screen and (max-width: 600px) {
        .landing-section-right__text-description {
          position: initial;
          display: inline;
          margin: 0;
          padding: 0 20%;
          text-align: center; }
          .landing-section-right__text-description {
            font-size: 13.86667px; } }
    @media screen and (max-width: 600px) and (min-width: 320px) {
      .landing-section-right__text-description {
        font-size: calc(2.47619vw + 5.94286px); } }
    @media screen and (max-width: 600px) and (min-width: 600px) {
      .landing-section-right__text-description {
        font-size: 20.8px; } }
      @media screen and (max-width: 600px) {
          .landing-section-right__text-description {
            line-height: 13.68px; } }
    @media screen and (max-width: 600px) and (min-width: 320px) {
      .landing-section-right__text-description {
        line-height: calc(4.88571vw - 1.95429px); } }
    @media screen and (max-width: 600px) and (min-width: 600px) {
      .landing-section-right__text-description {
        line-height: 27.36px; } }
    .landing-section-right__text-read-more {
      right: 2.5%;
      margin: 0;
      padding: 0;
      color: #2121218f; }
      .landing-section-right__text-read-more {
        bottom: 12px; }
        @media screen and (min-width: 375px) {
          .landing-section-right__text-read-more {
            bottom: calc(0.64725vw + 9.57282px); } }
        @media screen and (min-width: 1920px) {
          .landing-section-right__text-read-more {
            bottom: 22px; } }
    .landing-section-right__text-read-more, .landing-section-right__line {
      transition-property: color, stroke;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out; }
    .landing-section-right__read-more-container {
      position: relative;
      height: 100%;
      width: 102%; }
      .landing-section-right__read-more-container-wrapper {
        z-index: 1;
        position: absolute;
        bottom: 10%;
        left: 0;
        height: 5.5%;
        width: 71%; }
        @media screen and (max-width: 600px) {
          .landing-section-right__read-more-container-wrapper {
            display: none; } }
      .landing-section-right__read-more-container:hover .landing-section-right__text-read-more {
        color: #ffeb16;
        cursor: default; }
      .landing-section-right__read-more-container:hover .landing-section-right__line {
        stroke: #ffeb16; }
    .landing-section-right__line {
      stroke: #2121218f;
      stroke-width: 2; }
      .landing-section-right__line-wrapper {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%; }
        @media screen and (max-width: 600px) {
          .landing-section-right__line-wrapper {
            display: none; } }

.services-section__card {
  display: inline-block;
  flex-basis: 25%;
  margin: 0 1.4vw;
  width: 23%;
  height: 68%;
  border: 3px solid #fffade;
  color: #212121f2; }
  @media screen and (max-width: 1280px) {
    .services-section__card {
      flex-basis: 27%;
      margin: 0;
      height: 66%; } }
  @media screen and (max-width: 1024px) {
    .services-section__card {
      flex-basis: 30%; } }
  @media screen and (max-width: 768px) {
    .services-section__card {
      width: 60%;
      margin: 2%;
      justify-self: center; } }
  @media screen and (max-height: 800px) {
    .services-section__card {
      height: 76%; } }
  @media screen and (max-height: 600px) {
    .services-section__card {
      height: 86%; } }
  .services-section__card--background-visuals, .services-section__card--background-development, .services-section__card--background-maintenance {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right -50% bottom -10%;
    transition: background-position 400ms ease-out; }
    @media screen and (max-width: 1280px) {
      .services-section__card--background-visuals, .services-section__card--background-development, .services-section__card--background-maintenance {
        background-position: right -50% bottom -4%; } }
    @media screen and (max-width: 768px) {
      .services-section__card--background-visuals, .services-section__card--background-development, .services-section__card--background-maintenance {
        background-size: 50%; } }
    .services-section__card--background-visuals:hover, .services-section__card--background-development:hover, .services-section__card--background-maintenance:hover {
      background-position: right 0 bottom -10%; }
      @media screen and (max-width: 1280px) {
        .services-section__card--background-visuals:hover, .services-section__card--background-development:hover, .services-section__card--background-maintenance:hover {
          background-position: right 0 bottom -4%; } }
  .services-section__card--background-visuals {
    background-image: url(public/icon-visuals.svg); }
  .services-section__card--background-development {
    background-image: url(public/icon-development.svg); }
  .services-section__card--background-maintenance {
    background-image: url(public/icon-maintenance.svg);
    background-size: 58%;
    background-position: right -34% bottom 0; }
    @media screen and (max-width: 1280px) {
      .services-section__card--background-maintenance {
        background-position: right -34% bottom 2%; } }
    @media screen and (max-width: 768px) {
      .services-section__card--background-maintenance {
        background-size: 42%; } }
    .services-section__card--background-maintenance:hover {
      background-position: right 0 bottom 0; }
      @media screen and (max-width: 1280px) {
        .services-section__card--background-maintenance:hover {
          background-position: right 0 bottom 2%; } }
  .services-section__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(64px - 3%);
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 1280px) {
      .services-section__card-container {
        justify-content: space-evenly; } }
    @media screen and (max-width: 768px) {
      .services-section__card-container {
        flex-direction: column;
        justify-content: unset;
        padding-bottom: 2.5%;
        overflow-y: auto; } }
    @media screen and (max-width: 768px) {
      .services-section__card-container {
        padding-top: 2%; } }
  .services-section__card-title {
    padding-top: 1.7%;
    padding-bottom: 1%;
    font-weight: 900;
    text-align: center; }
    .services-section__card-title {
      font-size: 10.64px; }
      @media screen and (min-width: 375px) {
        .services-section__card-title {
          font-size: calc(0.68867vw + 8.05748px); } }
      @media screen and (min-width: 1920px) {
        .services-section__card-title {
          font-size: 21.28px; } }
  .services-section__card-content, .services-section__card-service-container {
    text-align: justify; }
    .services-section__card-content, .services-section__card-service-container {
      font-size: 9.84px; }
      @media screen and (min-width: 375px) {
        .services-section__card-content, .services-section__card-service-container {
          font-size: calc(0.63689vw + 7.45165px); } }
      @media screen and (min-width: 1920px) {
        .services-section__card-content, .services-section__card-service-container {
          font-size: 19.68px; } }
    @media screen and (min-width: 1000px) and (max-height: 800px) {
      .services-section__card-content, .services-section__card-service-container {
        font-size: 16px; } }
  .services-section__card-content {
    padding: 0 8%; }
  .services-section__card-service-container--left-indent {
    padding-right: 8%;
    padding-inline-start: 16%; }
  .services-section__card:first-child, .services-section__card:last-child {
    transform: scale(0.926); }
    @media screen and (max-width: 768px) {
      .services-section__card:first-child, .services-section__card:last-child {
        transform: initial; } }
  .services-section__card:first-child {
    margin-left: 0; }
  .services-section__card:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .services-section__card {
      margin-left: 0;
      margin-right: 0; } }

.staff-section {
  position: relative;
  overflow: hidden; }
  .staff-section__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; }
    .staff-section__video-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
      filter: grayscale(100%) brightness(50%); }
    .staff-section__video-overlay {
      z-index: 1;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #f2f2f21a;
      opacity: 0.76; }
  .staff-section__card-icon-designer, .staff-section__card-icon-architect, .staff-section__card-icon-support {
    width: 8vw; }
    @media screen and (max-width: 480px) {
      .staff-section__card-icon-designer, .staff-section__card-icon-architect, .staff-section__card-icon-support {
        width: 10vw; } }
    @media screen and (max-width: 375px) {
      .staff-section__card-icon-designer, .staff-section__card-icon-architect, .staff-section__card-icon-support {
        width: 14vw; } }
    @media screen and (max-width: 375px) and (max-height: 600px) {
      .staff-section__card-icon-designer, .staff-section__card-icon-architect, .staff-section__card-icon-support {
        width: 7vh; } }
  .staff-section__card-icon-developer {
    width: 9.8vw; }
    @media screen and (max-width: 480px) {
      .staff-section__card-icon-developer {
        width: 12.2vw; } }
    @media screen and (max-width: 375px) {
      .staff-section__card-icon-developer {
        width: 18vw; } }
    @media screen and (max-width: 375px) and (max-height: 600px) {
      .staff-section__card-icon-developer {
        width: 8vh; } }
  .staff-section__card-icon-business-analyst {
    width: 8.7vw; }
    @media screen and (max-width: 480px) {
      .staff-section__card-icon-business-analyst {
        width: 10.4vw; } }
    @media screen and (max-width: 375px) {
      .staff-section__card-icon-business-analyst {
        width: 14vw; } }
    @media screen and (max-width: 375px) and (max-height: 600px) {
      .staff-section__card-icon-business-analyst {
        width: 7vh; } }
  .staff-section__card-icon-architect-wrapper--upper, .staff-section__card-icon-designer-wrapper--lower, .staff-section__card-icon-developer-wrapper--upper, .staff-section__card-icon-support-wrapper--lower, .staff-section__card-icon-business-analyst-wrapper--upper {
    position: absolute; }
  .staff-section__card-icon-architect-wrapper--upper {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 30%); }
  .staff-section__card-icon-designer-wrapper--lower {
    bottom: 10%;
    left: 52%;
    transform: translate(-52%, -30%); }
  .staff-section__card-icon-developer-wrapper--upper {
    top: 9%;
    left: 50%;
    transform: translate(-50%, 20%); }
  .staff-section__card-icon-support-wrapper--lower {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -30%); }
  .staff-section__card-icon-business-analyst-wrapper--upper {
    top: 9%;
    left: 52%;
    transform: translate(-50%, 30%); }
    @media screen and (max-width: 375px) {
      .staff-section__card-icon-business-analyst-wrapper--upper {
        top: 2%; } }
    @media screen and (max-width: 375px) and (max-height: 600px) {
      .staff-section__card-icon-business-analyst-wrapper--upper {
        top: 9%; } }
  .staff-section__card-staff-container {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54%;
    list-style: none;
    box-shadow: 0px 0px 100px 14px rgba(0, 0, 0, 0.21); }
    @media screen and (max-width: 1280px) {
      .staff-section__card-staff-container {
        height: 60%; } }
    @media screen and (max-width: 1000px) {
      .staff-section__card-staff-container {
        height: 63%; } }
    @media screen and (max-width: 768px) {
      .staff-section__card-staff-container {
        height: 72%; } }
    @media screen and (max-width: 600px) {
      .staff-section__card-staff-container {
        height: 80%; } }
    @media screen and (max-width: 375px) {
      .staff-section__card-staff-container {
        height: 82%; } }
    @media screen and (max-width: 320px) {
      .staff-section__card-staff-container {
        margin-bottom: -28vh;
        height: 104%; }
        .staff-section__card-staff-container > .staff-section__card-staff-member-container:last-child {
          height: 18vh; } }
  .staff-section__card-staff-container .staff-section__card-staff-member-container ~ .staff-section__card-staff-member-container {
    border-left: none; }
    @media screen and (max-width: 600px) {
      .staff-section__card-staff-container .staff-section__card-staff-member-container ~ .staff-section__card-staff-member-container {
        border: 12px solid #ffda38;
        border-width: 6px; } }
  .staff-section__card-staff-member-container {
    position: relative;
    flex: 0 0 20%;
    border: 12px solid #ffda38;
    overflow: hidden; }
    @media screen and (max-width: 600px) {
      .staff-section__card-staff-member-container {
        flex: 1 1 50%;
        border-width: 6px;
        border-bottom: none; } }
    .staff-section__card-staff-member-container:hover .staff-section__card-text {
      opacity: 1; }
    .staff-section__card-staff-member-container:hover .staff-section__card-text-wrapper--upper {
      top: 0; }
    .staff-section__card-staff-member-container:hover .staff-section__card-text-wrapper--lower {
      bottom: 0; }
    .staff-section__card-staff-member-container:hover .staff-section__card-title-wrapper--upper {
      top: 70%; }
    .staff-section__card-staff-member-container:hover .staff-section__card-title-wrapper--lower {
      bottom: 70%; }
    @media screen and (max-width: 320px) {
      .staff-section__card-staff-member-container:hover .staff-section__card-title-wrapper--upper {
        top: 78%; }
      .staff-section__card-staff-member-container:hover .staff-section__card-title-wrapper--lower {
        bottom: 78%; } }
  .staff-section__card-title {
    margin: 0;
    padding: 0 20%;
    font-weight: 700;
    text-align: center;
    color: #212121e6; }
    .staff-section__card-title {
      font-size: 10.02667px; }
      @media screen and (min-width: 375px) {
        .staff-section__card-title {
          font-size: calc(1.29795vw + 5.15935px); } }
      @media screen and (min-width: 1920px) {
        .staff-section__card-title {
          font-size: 30.08px; } }
    @media screen and (max-width: 600px) {
      .staff-section__card-title {
        font-weight: 900;
        padding: 0; } }
    .staff-section__card-title-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background-color: #ffda38;
      transform: scale(1.03); }
      @media screen and (max-width: 600px) {
        .staff-section__card-title-wrapper {
          transform: scale(1.1); } }
      @media screen and (max-width: 320px) {
        .staff-section__card-title-wrapper {
          height: 22%; } }
      .staff-section__card-title-wrapper--upper {
        top: 0;
        transition: top 280ms ease-in-out; }
      .staff-section__card-title-wrapper--lower {
        bottom: 0;
        transition: bottom 280ms ease-in-out; }
  .staff-section__card-text {
    opacity: 0;
    margin: 0;
    font-weight: 400;
    text-align: center;
    transition: opacity 400ms ease-in-out 170ms; }
    .staff-section__card-text {
      font-size: 11.04px; }
      @media screen and (min-width: 375px) {
        .staff-section__card-text {
          font-size: calc(0.71456vw + 8.36039px); } }
      @media screen and (min-width: 1920px) {
        .staff-section__card-text {
          font-size: 22.08px; } }
    .staff-section__card-text {
      line-height: 5.86667px; }
      @media screen and (min-width: 0) {
        .staff-section__card-text {
          line-height: calc(1.06944vw + 5.86667px); } }
      @media screen and (min-width: 1920px) {
        .staff-section__card-text {
          line-height: 26.4px; } }
    @media screen and (min-width: 600px) and (max-height: 600px) {
      .staff-section__card-text {
        line-height: initial; }
        .staff-section__card-text {
          font-size: 9.6px; } }
    @media screen and (min-width: 600px) and (max-height: 600px) and (min-width: 375px) {
      .staff-section__card-text {
        font-size: calc(0.31068vw + 8.43495px); } }
    @media screen and (min-width: 600px) and (max-height: 600px) and (min-width: 1920px) {
      .staff-section__card-text {
        font-size: 14.4px; } }
    @media screen and (min-width: 1024px) and (max-height: 800px) {
      .staff-section__card-text {
        font-size: 10.66667px; } }
  @media screen and (min-width: 1024px) and (max-height: 800px) and (min-width: 375px) {
    .staff-section__card-text {
      font-size: calc(0.3452vw + 9.37217px); } }
  @media screen and (min-width: 1024px) and (max-height: 800px) and (min-width: 1920px) {
    .staff-section__card-text {
      font-size: 16px; } }
    @media screen and (min-width: 1440px) and (max-height: 800px) {
      .staff-section__card-text {
        font-size: 12.48px; } }
  @media screen and (min-width: 1440px) and (max-height: 800px) and (min-width: 375px) {
    .staff-section__card-text {
      font-size: calc(0.40388vw + 10.96544px); } }
  @media screen and (min-width: 1440px) and (max-height: 800px) and (min-width: 1920px) {
    .staff-section__card-text {
      font-size: 18.72px; } }
    @media screen and (max-width: 320px) {
      .staff-section__card-text {
        font-size: 3.2px; } }
  @media screen and (max-width: 320px) and (min-width: 0) {
    .staff-section__card-text {
      font-size: calc(2vw + 3.2px); } }
  @media screen and (max-width: 320px) and (min-width: 320px) {
    .staff-section__card-text {
      font-size: 9.6px; } }
    .staff-section__card-text-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0 10% 11%;
      width: 100%;
      height: 70%;
      background-color: #ffda38; }
      @media screen and (max-height: 600px), screen and (max-width: 1280px) {
        .staff-section__card-text-wrapper {
          padding: 0 2%; } }
      @media screen and (max-width: 320px) {
        .staff-section__card-text-wrapper {
          height: 78%; } }
      .staff-section__card-text-wrapper--upper {
        top: -70%;
        transition: top 280ms ease-in-out; }
      .staff-section__card-text-wrapper--lower {
        bottom: -70%;
        transition: bottom 280ms ease-in-out; }
      @media screen and (max-width: 320px) {
        .staff-section__card-text-wrapper--upper {
          top: -78%; }
        .staff-section__card-text-wrapper--lower {
          bottom: -78%; } }
  .staff-section__title {
    position: relative;
    margin: 0;
    transform: translate(0%, 29%);
    font-weight: 400;
    color: #f2f2f240; }
    .staff-section__title {
      font-size: 92.44444px; }
      @media screen and (min-width: 375px) {
        .staff-section__title {
          font-size: calc(20.94211vw + 13.91154px); } }
      @media screen and (min-width: 1920px) {
        .staff-section__title {
          font-size: 416px; } }
    .staff-section__title-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      overflow: hidden; }

.contact-section {
  position: relative; }
  .contact-section__card {
    flex: 0 0 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact-section__card-container {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 84vh;
      padding: 0 4.5%;
      overflow-x: hidden;
      overflow-y: auto; }
      @media screen and (max-width: 768px) {
        .contact-section__card-container {
          margin-top: -4vh;
          height: 90vh; } }
      @media screen and (max-width: 800px) {
        .contact-section__card-container {
          padding-top: 80px; } }
  @media screen and (max-width: 800px) and (min-width: 0) {
    .contact-section__card-container {
      padding-top: calc(-8vw + 80px); } }
  @media screen and (max-width: 800px) and (min-width: 800px) {
    .contact-section__card-container {
      padding-top: 16px; } }
      .contact-section__card-container > .contact-section__card:last-child {
        padding-top: 1%; }
    .contact-section__card-title {
      margin: 0 5% 3.4vh 5%;
      font-weight: 900;
      text-align: center;
      color: #f2f2f2; }
      .contact-section__card-title {
        font-size: 17.77778px; }
        @media screen and (min-width: 0) {
          .contact-section__card-title {
            font-size: calc(3.24074vw + 17.77778px); } }
        @media screen and (min-width: 1920px) {
          .contact-section__card-title {
            font-size: 80px; } }
      @media screen and (max-width: 375px) {
        .contact-section__card-title {
          width: 60%; } }
    .contact-section__card-button {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none; }
      .contact-section__card-button-wrapper {
        position: relative;
        width: 16.6vw;
        height: 4.5vw;
        min-width: 166px;
        min-height: 45px; }
        .contact-section__card-button-wrapper:hover .contact-section__card-button .contact-section__card-button-rect {
          stroke: #ffeb16;
          stroke-width: 4;
          stroke-dasharray: 110, 312;
          stroke-dashoffset: 183; }
        .contact-section__card-button-wrapper:hover .contact-section__card-button-text {
          fill: #ffeb16; }
      .contact-section__card-button-rect {
        stroke: #f2f2f2;
        stroke-width: 4;
        stroke-dasharray: 422, 0;
        stroke-dashoffset: 0;
        transition: stroke-dasharray 620ms ease-in-out, stroke-dashoffset 620ms ease-in-out; }
      .contact-section__card-button-text {
        font-size: 16px;
        fill: #f2f2f2; }
    .contact-section__card-text {
      margin: 4.1vh 0 0 0;
      font-weight: 300;
      text-align: center;
      color: #f2f2f2; }
      .contact-section__card-text {
        font-size: 12px; }
        @media screen and (min-width: 0) {
          .contact-section__card-text {
            font-size: calc(0.625vw + 12px); } }
        @media screen and (min-width: 1920px) {
          .contact-section__card-text {
            font-size: 24px; } }
  .contact-section__footer {
    position: absolute;
    bottom: 1.1%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f2f2f226; }
    .contact-section__footer {
      font-size: 11.73333px; }
      @media screen and (min-width: 375px) {
        .contact-section__footer {
          font-size: calc(0.37972vw + 10.30939px); } }
      @media screen and (min-width: 1920px) {
        .contact-section__footer {
          font-size: 17.6px; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

#landing,
#services,
#staff,
#contact {
  visibility: hidden; }

body {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  overflow: hidden;
  background-color: #212121; }

main {
  overflow: hidden; }

hr {
  margin: 0 5%;
  border-top: 3px solid #fffade;
  border-bottom: none; }

a,
input {
  -webkit-tap-highlight-color: transparent; }

header,
.header__overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffda38; }
  .header__overlay {
    z-index: 99;
    top: 100%;
    background-color: #454545; }
  .header__logo-wrapper {
    width: 18%; }

nav {
  z-index: 10;
  position: fixed;
  display: grid;
  grid-template-columns: 612fr 388fr;
  top: 0;
  width: 100vw; }
  nav {
    height: 49.23077px; }
    @media screen and (min-width: 0) {
      nav {
        height: calc(0.76923vw + 49.23077px); } }
    @media screen and (min-width: 1920px) {
      nav {
        height: 64px; } }

.nav--no-js {
  background: #f2f2f28f; }
  @media screen and (max-width: 768px) {
    .nav--no-js {
      background: initial; } }

input[type="checkbox"]:checked {
  visibility: visible; }
  input[type="checkbox"]:checked ~ .nav__icon-wrapper {
    visibility: visible;
    opacity: 1; }
  input[type="checkbox"]:checked ~ .nav__overlay {
    display: block; }
  input[type="checkbox"]:checked ~ .nav__link-wrapper-container {
    z-index: 21;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: 36vh 0; }
  input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
    margin: 0;
    padding: 6%;
    transition: color 150ms ease-in-out 20ms; }
    input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
      font-size: 24px; }
      @media screen and (min-width: 0) {
        input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
          font-size: calc(1.25vw + 24px); } }
      @media screen and (min-width: 1920px) {
        input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
          font-size: 48px; } }
    input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link::after {
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: white; }
    input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover {
      color: #212121; }
      input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover::after {
        width: 99%; }
      input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover:active {
        color: #2121218f; }

.nav__logo {
  filter: invert(96%);
  pointer-events: none; }
  .nav__logo {
    height: 40px; }
    @media screen and (min-width: 0) {
      .nav__logo {
        height: calc(1.14583vw + 40px); } }
    @media screen and (min-width: 1920px) {
      .nav__logo {
        height: 62px; } }
  .nav__logo {
    padding-top: 16px;
    padding-left: 16px; }
    @media screen and (min-width: 375px) {
      .nav__logo {
        padding-top: calc(0.38835vw + 14.54369px);
        padding-left: calc(0.38835vw + 14.54369px); } }
    @media screen and (min-width: 1920px) {
      .nav__logo {
        padding-top: 22px;
        padding-left: 22px; } }
  .nav__logo-wrapper {
    z-index: 22;
    position: absolute;
    display: block;
    height: 70px; }
    .nav__logo-wrapper-wrapper {
      position: relative;
      grid-column: 1; }

.nav__toggler {
  z-index: 22;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  padding: 20px 23px 0 0;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .nav__toggler {
      visibility: visible; } }

.nav__icon {
  width: 4.6vw;
  min-width: 17px;
  max-width: 28px; }
  .nav__icon-wrapper {
    z-index: 21;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 23px 0 0;
    filter: invert(26%);
    transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out; }
    @media screen and (max-width: 768px) {
      .nav__icon-wrapper {
        visibility: visible;
        opacity: 1; } }

.nav__overlay {
  z-index: 20;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffda38; }

.nav__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 300ms ease-in-out 50ms; }
  .nav__link {
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px; }
    @media screen and (min-width: 768px) {
      .nav__link {
        padding-top: calc(0.60764vw + 13.33333px);
        padding-right: calc(0.60764vw + 13.33333px);
        padding-bottom: calc(0.60764vw + 13.33333px);
        padding-left: calc(0.60764vw + 13.33333px); } }
    @media screen and (min-width: 1920px) {
      .nav__link {
        padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 25px; } }
  .nav__link {
    font-size: 13.86667px; }
    @media screen and (min-width: 375px) {
      .nav__link {
        font-size: calc(0.44876vw + 12.18382px); } }
    @media screen and (min-width: 1920px) {
      .nav__link {
        font-size: 20.8px; } }
  .nav__link-wrapper-container {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none; }
    @media screen and (max-width: 768px) {
      .nav__link-wrapper-container {
        display: none; } }
  .nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 18.5%;
    left: 12%;
    width: 0;
    background-color: #ffeb16;
    transition: width 250ms ease-in-out; }
    .nav__link::after {
      height: 2px; }
      @media screen and (min-width: 1000px) {
        .nav__link::after {
          height: calc(0.22727vw - 0.27273px); } }
      @media screen and (min-width: 1440px) {
        .nav__link::after {
          height: 3px; } }
  .nav__link:hover::after {
    width: 75.2%; }
  .nav__link:hover:active {
    transition: color 90ms ease-in-out; }
  .nav__link--overlay {
    color: #212121f2 !important; }
    .nav__link--overlay:hover {
      color: #2121218f !important; }
      .nav__link--overlay:hover:active {
        color: #ffeb16 !important; }
  .nav__link--landing {
    color: #212121f2; }
    .nav__link--landing:hover {
      color: #2121218f; }
      .nav__link--landing:hover:active {
        color: #ffeb16; }
  .nav__link--services {
    color: #212121f2; }
    .nav__link--services:hover:active {
      color: #2121218f; }
    .nav__link--services::after {
      background-color: white; }
  .nav__link--staff {
    color: #f2f2f2a6; }
    .nav__link--staff:hover {
      color: white; }
      .nav__link--staff:hover:active {
        color: #2121218f; }
    .nav__link--staff::after {
      background-color: #ffda38; }
  .nav__link--contact {
    color: #f2f2f2cc; }
    .nav__link--contact:hover {
      color: white; }
      .nav__link--contact:hover:active {
        color: #2121218f; }
    .nav__link--contact::after {
      background-color: #ffeb16; }

section {
  width: 100%;
  height: 100vh;
  color: #212121f2;
  overflow: hidden; }

.section--mine-shaft-darker {
  background: #1f1f1f; }

.section--bright-sun {
  background: #ffda38; }

.section--mine-shaft {
  background: #212121; }

.section--black {
  background: black; }


/*# sourceMappingURL=bundle.css.map*/