@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  /* Change the default font family in all browsers (opinionated). */
  font-family: "Lato", sans-serif;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: "Lato", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }




/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  /* Change the default font family in all browsers (opinionated). */
  font-family: "Lato", sans-serif;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: "Lato", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

hr {
  margin: 0 5%;
  border-top: 3px solid #fffade;
  border-bottom: none; }

main {
  overflow: hidden; }

nav {
  z-index: 10;
  position: fixed;
  display: grid;
  grid-template-columns: 612fr 388fr;
  top: 0;
  width: 100vw;
  height: 64px; }

.nav--no-js {
  height: 76px;
  background: #f2f2f28f; }

input[type="checkbox"]:checked {
  visibility: visible; }
  input[type="checkbox"]:checked ~ .nav__icon-wrapper {
    visibility: visible;
    opacity: 1; }
  input[type="checkbox"]:checked ~ .nav__overlay {
    display: block; }
  input[type="checkbox"]:checked ~ .nav__link-wrapper-container {
    z-index: 21;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: 36vh 0; }
  input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
    margin: 0;
    padding: 6%;
    font-size: 48px; }
    input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link::after {
      bottom: 4.5%;
      left: 0;
      height: 4px;
      background-color: white; }
    input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover {
      color: #212121; }
      input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover::after {
        width: 99%; }
      input[type="checkbox"]:checked ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link:hover:active {
        color: white; }

.nav__logo {
  height: 70px;
  padding-top: 22px;
  padding-left: 22px;
  filter: invert(96%);
  pointer-events: none; }
  .nav__logo-wrapper {
    z-index: 21;
    position: absolute;
    display: block;
    height: 70px; }
    .nav__logo-wrapper-wrapper {
      position: relative;
      grid-column: 1; }

.nav__toggler {
  z-index: 22;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  padding: 20px 23px 0 0;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .nav__toggler {
      visibility: visible; } }

.nav__icon {
  width: 4.6vw;
  max-width: 40px; }
  .nav__icon-wrapper {
    z-index: 21;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 23px 0 0;
    filter: invert(26%);
    transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out; }
    @media screen and (max-width: 768px) {
      .nav__icon-wrapper {
        visibility: visible;
        opacity: 1; } }

.nav__overlay {
  z-index: 20;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffda38; }

.nav__link {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 25px 20px;
  text-decoration: none;
  color: #212121f2;
  transition: color 300ms ease-in-out 50ms; }
  .nav__link {
    font-size: 13.86667px; }
    @media screen and (min-width: 320px) {
      .nav__link {
        font-size: calc(0.61905vw + 11.88571px); } }
    @media screen and (min-width: 1440px) {
      .nav__link {
        font-size: 20.8px; } }
  .nav__link-wrapper-container {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none; }
    @media screen and (max-width: 768px) {
      .nav__link-wrapper-container {
        display: none; } }
  .nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 18.5%;
    left: 12%;
    width: 0;
    height: 3px;
    background-color: #ffeb16;
    transition: width 250ms ease-in-out; }
  .nav__link:hover {
    color: #2121218f; }
    .nav__link:hover::after {
      width: 75.2%; }
    .nav__link:hover:active {
      color: #ffeb16;
      transition: color 80ms ease-in-out; }

section {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  color: #212121f2;
  overflow: hidden; }

.section--white {
  background: white; }

.section--yellow {
  background-color: #fded3cd9; }

.section--mine-shaft {
  background: #212121; }

.section--black {
  background: black; }

.landing-section {
  display: grid;
  grid-template-columns: 618fr 382fr; }
  .landing-section-left {
    grid-column: 1;
    background-color: #151515; }
    .landing-section-left__image {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      max-width: 100vw;
      object-fit: cover; }
      .landing-section-left__image-wrapper {
        position: relative;
        height: 100%;
        width: 100%; }
      .landing-section-left__image-overlay {
        position: relative;
        width: 100%;
        height: 100%; }
        .landing-section-left__image-overlay-wrapper {
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          min-height: 800px;
          overflow: hidden;
          mix-blend-mode: screen; }
        .landing-section-left__image-overlay-bokeh {
          position: absolute;
          border-radius: 50%;
          animation-name: bokeh;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          will-change: transform; }
          .landing-section-left__image-overlay-bokeh:nth-child(1) {
            width: 13rem;
            height: 13rem;
            top: -1%;
            left: 84%;
            color: #21212133;
            opacity: 0.7;
            box-shadow: 18rem 0 0.41011rem currentColor;
            transform-origin: -19rem 16rem;
            animation-duration: 75s;
            filter: brightness(177%); }
          .landing-section-left__image-overlay-bokeh:nth-child(2) {
            width: 11rem;
            height: 11rem;
            top: 48%;
            left: 65%;
            color: #212121e6;
            opacity: 1;
            box-shadow: 16rem 0 0.81358rem currentColor;
            transform-origin: 11rem 13rem;
            animation-duration: 72s;
            filter: brightness(161%); }
          .landing-section-left__image-overlay-bokeh:nth-child(3) {
            width: 13rem;
            height: 13rem;
            top: 67%;
            left: 35%;
            color: #2121218f;
            opacity: 0.9;
            box-shadow: 18rem 0 0.81402rem currentColor;
            transform-origin: -7rem -2rem;
            animation-duration: 78s;
            filter: brightness(249%); }
          .landing-section-left__image-overlay-bokeh:nth-child(4) {
            width: 12rem;
            height: 12rem;
            top: 62%;
            left: 16%;
            color: #21212133;
            opacity: 0.8;
            box-shadow: 17rem 0 0.59157rem currentColor;
            transform-origin: -4rem 17rem;
            animation-duration: 82s;
            filter: brightness(209%); }
          .landing-section-left__image-overlay-bokeh:nth-child(5) {
            width: 13rem;
            height: 13rem;
            top: -16%;
            left: 76%;
            color: #2121218f;
            opacity: 1;
            box-shadow: 18rem 0 0.41027rem currentColor;
            transform-origin: 16rem -18rem;
            animation-duration: 74s;
            filter: brightness(194%); }
          .landing-section-left__image-overlay-bokeh:nth-child(6) {
            width: 11rem;
            height: 11rem;
            top: 68%;
            left: 7%;
            color: #2121218f;
            opacity: 0.7;
            box-shadow: 16rem 0 0.39438rem currentColor;
            transform-origin: -1rem 20rem;
            animation-duration: 71s;
            filter: brightness(162%); }
          .landing-section-left__image-overlay-bokeh:nth-child(7) {
            width: 11rem;
            height: 11rem;
            top: -23%;
            left: 35%;
            color: #f2f2f21a;
            opacity: 1;
            box-shadow: 16rem 0 0.77781rem currentColor;
            transform-origin: 2rem 7rem;
            animation-duration: 66s;
            filter: brightness(212%); }
          .landing-section-left__image-overlay-bokeh:nth-child(8) {
            width: 13rem;
            height: 13rem;
            top: 46%;
            left: 29%;
            color: #212121e6;
            opacity: 0.8;
            box-shadow: 18rem 0 0.68889rem currentColor;
            transform-origin: 10rem -6rem;
            animation-duration: 62s;
            filter: brightness(240%); }
          .landing-section-left__image-overlay-bokeh:nth-child(9) {
            width: 11rem;
            height: 11rem;
            top: 52%;
            left: 51%;
            color: #212121e6;
            opacity: 0.8;
            box-shadow: 16rem 0 0.47416rem currentColor;
            transform-origin: -4rem -6rem;
            animation-duration: 60s;
            filter: brightness(269%); }
          .landing-section-left__image-overlay-bokeh:nth-child(10) {
            width: 13rem;
            height: 13rem;
            top: 67%;
            left: 87%;
            color: #f2f2f21a;
            opacity: 0.9;
            box-shadow: 18rem 0 0.56332rem currentColor;
            transform-origin: 7rem 14rem;
            animation-duration: 77s;
            filter: brightness(237%); }
          .landing-section-left__image-overlay-bokeh:nth-child(11) {
            width: 13rem;
            height: 13rem;
            top: 50%;
            left: 58%;
            color: #212121e6;
            opacity: 0.8;
            box-shadow: 18rem 0 0.82139rem currentColor;
            transform-origin: 10rem -3rem;
            animation-duration: 57s;
            filter: brightness(204%); }
          .landing-section-left__image-overlay-bokeh:nth-child(12) {
            width: 13rem;
            height: 13rem;
            top: 19%;
            left: 83%;
            color: #2121218f;
            opacity: 0.9;
            box-shadow: 18rem 0 0.82938rem currentColor;
            transform-origin: 13rem 18rem;
            animation-duration: 76s;
            filter: brightness(162%); }
          .landing-section-left__image-overlay-bokeh:nth-child(13) {
            width: 12rem;
            height: 12rem;
            top: 74%;
            left: 88%;
            color: #212121e6;
            opacity: 0.8;
            box-shadow: 17rem 0 0.74241rem currentColor;
            transform-origin: -6rem 7rem;
            animation-duration: 77s;
            filter: brightness(277%); }
          .landing-section-left__image-overlay-bokeh:nth-child(14) {
            width: 12rem;
            height: 12rem;
            top: -4%;
            left: 93%;
            color: #212121e6;
            opacity: 0.7;
            box-shadow: 17rem 0 0.47075rem currentColor;
            transform-origin: -18rem -17rem;
            animation-duration: 60s;
            filter: brightness(273%); }
          .landing-section-left__image-overlay-bokeh:nth-child(15) {
            width: 11rem;
            height: 11rem;
            top: -10%;
            left: 95%;
            color: #21212133;
            opacity: 1;
            box-shadow: 16rem 0 0.39305rem currentColor;
            transform-origin: -15rem 2rem;
            animation-duration: 78s;
            filter: brightness(255%); }
          .landing-section-left__image-overlay-bokeh:nth-child(16) {
            width: 11rem;
            height: 11rem;
            top: 39%;
            left: 50%;
            color: #f2f2f21a;
            opacity: 0.8;
            box-shadow: 16rem 0 0.59962rem currentColor;
            transform-origin: -12rem 14rem;
            animation-duration: 58s;
            filter: brightness(203%); }
          .landing-section-left__image-overlay-bokeh:nth-child(17) {
            width: 12rem;
            height: 12rem;
            top: 5%;
            left: 75%;
            color: #f2f2f21a;
            opacity: 1;
            box-shadow: 17rem 0 0.79982rem currentColor;
            transform-origin: -7rem -18rem;
            animation-duration: 61s;
            filter: brightness(220%); }
          .landing-section-left__image-overlay-bokeh:nth-child(18) {
            width: 13rem;
            height: 13rem;
            top: -2%;
            left: 4%;
            color: #21212133;
            opacity: 0.8;
            box-shadow: 18rem 0 0.67657rem currentColor;
            transform-origin: 12rem 0rem;
            animation-duration: 61s;
            filter: brightness(291%); }
          .landing-section-left__image-overlay-bokeh:nth-child(1) {
            top: 21%;
            left: 54%; }
          .landing-section-left__image-overlay-bokeh:nth-child(2) {
            top: 2%;
            left: 68%; }
          .landing-section-left__image-overlay-bokeh:nth-child(3) {
            top: 35%;
            left: 65%; }
          .landing-section-left__image-overlay-bokeh:nth-child(4) {
            top: 12%;
            left: 67%; }

@keyframes bokeh {
  100% {
    transform: rotate(360deg); } }
  .landing-section-right {
    position: relative;
    grid-column: 2;
    width: 100%;
    box-shadow: inset 100px -10px 55px -102px rgba(0, 0, 0, 0.45);
    background-color: white; }
    .landing-section-right__text-container-left, .landing-section-right__text-container-right {
      position: absolute;
      top: 35%;
      left: 0; }
      .landing-section-right__text-container-left, .landing-section-right__text-container-right {
        line-height: 78px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-container-left, .landing-section-right__text-container-right {
            line-height: calc(6.96429vw + 55.71429px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-container-left, .landing-section-right__text-container-right {
            line-height: 156px; } }
    .landing-section-right__text-container-left {
      transform: translate(-101%, -50%);
      mix-blend-mode: screen;
      font-weight: 900;
      letter-spacing: 10px;
      text-align: right;
      color: #ffeb16; }
      .landing-section-right__text-container-left {
        font-size: 57.6px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-container-left {
            font-size: calc(5.14286vw + 41.14286px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-container-left {
            font-size: 115.2px; } }
    .landing-section-right__text-container-right {
      transform: translate(3%, -50%);
      padding-top: 18.72px;
      text-align: left;
      color: #212121f2; }
      .landing-section-right__text-container-right {
        font-size: 48px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-container-right {
            font-size: calc(4.28571vw + 34.28571px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-container-right {
            font-size: 96px; } }
    .landing-section-right__text-upper-left, .landing-section-right__text-upper-right, .landing-section-right__text-lower-left, .landing-section-right__text-lower-right {
      margin: 0;
      padding: 0; }
    .landing-section-right__text-description, .landing-section-right__text-read-more {
      position: absolute; }
      .landing-section-right__text-description, .landing-section-right__text-read-more {
        font-size: 12px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-description, .landing-section-right__text-read-more {
            font-size: calc(1.07143vw + 8.57143px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-description, .landing-section-right__text-read-more {
            font-size: 24px; } }
    .landing-section-right__text-description {
      z-index: 1;
      bottom: 24.5%;
      left: 14%;
      padding: 0 10% 0 0; }
      .landing-section-right__text-description {
        line-height: 15.6px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-description {
            line-height: calc(1.39286vw + 11.14286px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-description {
            line-height: 31.2px; } }
    .landing-section-right__text-read-more {
      right: 2.5%;
      margin: 0;
      padding: 0;
      color: #2121218f; }
      .landing-section-right__text-read-more {
        bottom: 18px; }
        @media screen and (min-width: 320px) {
          .landing-section-right__text-read-more {
            bottom: calc(0.71429vw + 15.71429px); } }
        @media screen and (min-width: 1440px) {
          .landing-section-right__text-read-more {
            bottom: 26px; } }
    .landing-section-right__text-read-more, .landing-section-right__line {
      transition-property: color, stroke;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out; }
    .landing-section-right__read-more-container {
      position: relative;
      height: 100%;
      width: 102%; }
      .landing-section-right__read-more-container-wrapper {
        z-index: 1;
        position: absolute;
        bottom: 10%;
        left: 0;
        height: 5.5%;
        width: 71%; }
      .landing-section-right__read-more-container:hover .landing-section-right__text-read-more {
        color: #ffeb16;
        cursor: default; }
      .landing-section-right__read-more-container:hover .landing-section-right__line {
        stroke: #ffeb16; }
    .landing-section-right__line {
      stroke: #2121218f;
      stroke-width: 2; }
      .landing-section-right__line-wrapper {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%; }

.services-section__card {
  display: inline-block;
  margin: 0 1.4vw;
  width: 23%;
  min-width: 400px;
  height: 68%;
  border: 3px solid #fffade;
  border-radius: 20px;
  color: #212121f2; }
  .services-section__card--background-visuals, .services-section__card--background-development, .services-section__card--background-maintenance {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right -50% bottom -10%;
    transition: background-position 400ms ease-out; }
    .services-section__card--background-visuals:hover, .services-section__card--background-development:hover, .services-section__card--background-maintenance:hover {
      background-position: right 0% bottom -10%; }
  .services-section__card--background-visuals {
    background-image: url(public/icon-visuals.svg); }
  .services-section__card--background-development {
    background-image: url(public/icon-development.svg); }
  .services-section__card--background-maintenance {
    background-image: url(public/icon-maintenance.svg);
    background-size: 58%;
    background-position: right -34% bottom 0; }
    .services-section__card--background-maintenance:hover {
      background-position: right 0% bottom -0%; }
  .services-section__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5%;
    width: 100%;
    height: 100%; }
  .services-section__card-title {
    padding-top: 1.7%;
    padding-bottom: 1%;
    font-weight: 900;
    text-align: center; }
    .services-section__card-title {
      font-size: 14.18667px; }
      @media screen and (min-width: 320px) {
        .services-section__card-title {
          font-size: calc(0.63333vw + 12.16px); } }
      @media screen and (min-width: 1440px) {
        .services-section__card-title {
          font-size: 21.28px; } }
  .services-section__card-content, .services-section__card-service-container {
    text-align: justify; }
    .services-section__card-content, .services-section__card-service-container {
      font-size: 16.4px; }
      @media screen and (min-width: 320px) {
        .services-section__card-content, .services-section__card-service-container {
          font-size: calc(0.29286vw + 15.46286px); } }
      @media screen and (min-width: 1440px) {
        .services-section__card-content, .services-section__card-service-container {
          font-size: 19.68px; } }
  .services-section__card-content {
    padding: 0 11%; }
  .services-section__card-service-container--left-indent {
    padding-inline-start: 16%; }
  .services-section__card:first-child {
    margin-left: 0; }
  .services-section__card:last-child {
    margin-right: 0; }

.staff-section {
  position: relative;
  overflow: hidden; }
  .staff-section__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; }
    .staff-section__video-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
      filter: grayscale(100%) brightness(50%); }
    .staff-section__video-overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f2f2f21a;
      opacity: 0.76; }
  .staff-section__card-icon-designer, .staff-section__card-icon-architect, .staff-section__card-icon-support {
    width: 8vw; }
  .staff-section__card-icon-developer {
    width: 9.8vw; }
  .staff-section__card-icon-business-analyst {
    width: 8.7vw; }
  .staff-section__card-icon-architect-wrapper--upper, .staff-section__card-icon-designer-wrapper--lower, .staff-section__card-icon-developer-wrapper--upper, .staff-section__card-icon-support-wrapper--lower, .staff-section__card-icon-business-analyst-wrapper--upper {
    position: absolute; }
  .staff-section__card-icon-architect-wrapper--upper {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 30%); }
  .staff-section__card-icon-designer-wrapper--lower {
    bottom: 10%;
    left: 52%;
    transform: translate(-52%, -30%); }
  .staff-section__card-icon-developer-wrapper--upper {
    top: 9%;
    left: 50%;
    transform: translate(-50%, 20%); }
  .staff-section__card-icon-support-wrapper--lower {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -30%); }
  .staff-section__card-icon-business-analyst-wrapper--upper {
    top: 9%;
    left: 52%;
    transform: translate(-50%, 30%); }
  .staff-section__card-title {
    position: relative;
    margin: 0;
    transform: translate(0%, 29%);
    font-weight: 400;
    color: #f2f2f240; }
    .staff-section__card-title {
      font-size: 106.66667px; }
      @media screen and (min-width: 320px) {
        .staff-section__card-title {
          font-size: calc(33.33333vw + 0px); } }
      @media screen and (min-width: 1440px) {
        .staff-section__card-title {
          font-size: 480px; } }
    .staff-section__card-title-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      overflow: hidden; }
  .staff-section__card-staff-container {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54%;
    list-style: none;
    box-shadow: 0px 0px 100px 14px rgba(0, 0, 0, 0.21); }
  .staff-section__card-staff-container .staff-section__card-staff-member-container ~ .staff-section__card-staff-member-container {
    border-left: none; }
  .staff-section__card-staff-member-container {
    position: relative;
    flex: 0 0 20%;
    border: 12px solid #fded3c; }
  .staff-section__card-text {
    margin: 0;
    padding: 0 20%;
    font-weight: 400;
    text-align: center;
    color: #212121e6; }
    .staff-section__card-text {
      font-size: 15.04px; }
      @media screen and (min-width: 320px) {
        .staff-section__card-text {
          font-size: calc(1.34286vw + 10.74286px); } }
      @media screen and (min-width: 1440px) {
        .staff-section__card-text {
          font-size: 30.08px; } }
    .staff-section__card-text-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      background-color: #fded3c;
      transform: scale(1.01); }
      .staff-section__card-text-wrapper--upper {
        top: 0; }
      .staff-section__card-text-wrapper--lower {
        bottom: 0; }

.contact-section {
  position: relative; }
  .contact-section__card {
    flex: 0 0 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact-section__card-container {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 86vw;
      height: 84vh; }
    .contact-section__card-title {
      margin: 0 5% 3.4vh 5%;
      font-weight: 900;
      text-align: center;
      color: #f2f2f2; }
      .contact-section__card-title {
        font-size: 26.66667px; }
        @media screen and (min-width: 320px) {
          .contact-section__card-title {
            font-size: calc(4.7619vw + 11.42857px); } }
        @media screen and (min-width: 1440px) {
          .contact-section__card-title {
            font-size: 80px; } }
    .contact-section__card-button {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none; }
      .contact-section__card-button-wrapper {
        position: relative;
        width: 16.6vw;
        height: 4.5vw;
        min-width: 166px;
        min-height: 45px; }
        .contact-section__card-button-wrapper:hover .contact-section__card-button .contact-section__card-button-rect {
          stroke: #ffeb16;
          stroke-width: 4;
          stroke-dasharray: 110, 312;
          stroke-dashoffset: 183; }
        .contact-section__card-button-wrapper:hover .contact-section__card-button-text {
          fill: #ffeb16; }
      .contact-section__card-button-rect {
        stroke: #f2f2f2;
        stroke-width: 4;
        stroke-dasharray: 422, 0;
        stroke-dashoffset: 0;
        transition: stroke-dasharray 620ms ease-in-out, stroke-dashoffset 620ms ease-in-out; }
      .contact-section__card-button-text {
        font-size: 16px;
        fill: #f2f2f2; }
    .contact-section__card-text {
      margin: 4.1vh 0 0 0;
      font-weight: 300;
      text-align: center;
      color: #f2f2f2; }
      .contact-section__card-text {
        font-size: 16px; }
        @media screen and (min-width: 320px) {
          .contact-section__card-text {
            font-size: calc(0.71429vw + 13.71429px); } }
        @media screen and (min-width: 1440px) {
          .contact-section__card-text {
            font-size: 24px; } }


/*# sourceMappingURL=bundle.css.map*/