.services-section {
    &__card {
        display: inline-block;
        flex-basis: 25%;
        margin: 0 1.4vw;
        width: 23%;
        height: 68%;
        border: 3px solid $color-scotch-mist;
        color: $color-mine-shaft-95-alfa;

        @media screen and (max-width: $laptop-mid-width) {
            flex-basis: 27%;
            margin: 0;
            height: 66%;
        }

        @media screen and (max-width: $laptop-min-width) {
            flex-basis: 30%;
        }

        // This media query is used for styling cards which are positioned as a column
        @media screen and (max-width: $tablet-max-width) {
            width: 60%;
            margin: 2%;
            justify-self: center;
        }

        @media screen and (max-height: $tablet-oversized-width) {
            height: 76%;
        }

        @media screen and (max-height: $mobile-max-width) {
            height: 86%;
        }

        &--background {
            &-visuals,
            &-development,
            &-maintenance {
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: right -50% bottom -10%;
                transition: background-position 400ms ease-out;

                @media screen and (max-width: $laptop-mid-width) {
                    background-position: right -50% bottom -4%;
                }

                @media screen and (max-width: $tablet-max-width) {
                    background-size: 50%;
                }

                &:hover {
                    background-position: right 0 bottom -10%;

                    @media screen and (max-width: $laptop-mid-width) {
                        background-position: right 0 bottom -4%;
                    }
                }
            }

            &-visuals {
                background-image: url(../../public/icon-visuals.svg);
            }

            &-development {
                background-image: url(../../public/icon-development.svg);
            }

            &-maintenance {
                background-image: url(../../public/icon-maintenance.svg);
                background-size: 58%;
                background-position: right -34% bottom 0;

                @media screen and (max-width: $laptop-mid-width) {
                    background-position: right -34% bottom 2%;
                }

                @media screen and (max-width: $tablet-max-width) {
                    background-size: 42%;
                }

                &:hover {
                    background-position: right 0 bottom 0;

                    @media screen and (max-width: $laptop-mid-width) {
                        background-position: right 0 bottom 2%;
                    }
                }
            }
        }

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: calc(#{$nav-height} - 3%);
            width: 100%;
            height: 100%;

            @media screen and (max-width: $laptop-mid-width) {
                justify-content: space-evenly;
            }

            // This media query is used for styling cards which are positioned as a column
            @media screen and (max-width: $tablet-max-width) {
                flex-direction: column;

                // Reset the justify-content property so that the flex column is accessible while scrolling
                justify-content: unset;
                padding-bottom: 2.5%;
                overflow-y: auto;
            }

            @media screen and (max-width: $tablet-max-width) {
                padding-top: 2%;
            }
        }

        &-title {
            padding-top: 1.7%;
            padding-bottom: 1%;
            @include interpolate(
                font-size,
                $services-section-card-title-font-size / $standard-responsive-font-size-factor,
                $services-section-card-title-font-size
            );
            font-weight: 900;
            text-align: center;
        }

        &-content,
        &-service-container {
            @include interpolate(
                font-size,
                $services-section-card-content-font-size / $standard-responsive-font-size-factor,
                $services-section-card-content-font-size
            );
            text-align: justify;

            // This media query prevents the font from overlapping with a background icon
            @media screen and (min-width: $laptop-undersized-width) and (max-height: $tablet-oversized-width) {
                font-size: $h4-font-size;
            }
        }

        &-content {
            padding: 0 8%;
        }

        &-service {
            &-container {
                &--left-indent {
                    padding-right: 8%;
                    padding-inline-start: 16%;
                }
            }
        }

        &:first-child,
        &:last-child {
            transform: scale(0.926);

            @media screen and (max-width: $tablet-max-width) {
                transform: initial;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: $tablet-max-width) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
