.staff-section {
    position: relative;
    overflow: hidden;

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        &-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            transform: scaleX(-1);
            filter: grayscale(100%) brightness(50%);
        }

        &-overlay {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $color-concrete-10-alpha;
            opacity: 0.76;
        }
    }

    &__card {
        $text: #{&}-text;
        $text-wrapper-upper: #{&}-text-wrapper--upper;
        $text-wrapper-lower: #{&}-text-wrapper--lower;
        $title-wrapper-upper: #{&}-title-wrapper--upper;
        $title-wrapper-lower: #{&}-title-wrapper--lower;

        &-icon {
            &-designer,
            &-architect,
            &-support {
                width: 8vw;

                @media screen and (max-width: $mobile-mid-width) {
                    width: 10vw;
                }

                @media screen and (max-width: $mobile-min-width) {
                    width: 14vw;
                }

                @media screen and (max-width: $mobile-min-width) and (max-height: $mobile-max-width) {
                    width: 7vh;
                }
            }

            &-developer {
                width: 9.8vw;

                @media screen and (max-width: $mobile-mid-width) {
                    width: 12.2vw;
                }

                @media screen and (max-width: $mobile-min-width) {
                    width: 18vw;
                }

                @media screen and (max-width: $mobile-min-width) and (max-height: $mobile-max-width) {
                    width: 8vh;
                }
            }

            &-business-analyst {
                width: 8.7vw;

                @media screen and (max-width: $mobile-mid-width) {
                    width: 10.4vw;
                }

                @media screen and (max-width: $mobile-min-width) {
                    width: 14vw;
                }

                @media screen and (max-width: $mobile-min-width) and (max-height: $mobile-max-width) {
                    width: 7vh;
                }
            }

            &-architect-wrapper--upper,
            &-designer-wrapper--lower,
            &-developer-wrapper--upper,
            &-support-wrapper--lower,
            &-business-analyst-wrapper--upper {
                position: absolute;
            }

            &-architect-wrapper--upper {
                top: 10%;
                left: 50%;
                transform: translate(-50%, 30%);
            }

            &-designer-wrapper--lower {
                bottom: 10%;
                left: 52%;
                transform: translate(-52%, -30%);
            }

            &-developer-wrapper--upper {
                top: 9%;
                left: 50%;
                transform: translate(-50%, 20%);
            }

            &-support-wrapper--lower {
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, -30%);
            }

            &-business-analyst-wrapper--upper {
                top: 9%;
                left: 52%;
                transform: translate(-50%, 30%);

                @media screen and (max-width: $mobile-min-width) {
                    top: 2%;
                }

                @media screen and (max-width: $mobile-min-width) and (max-height: $mobile-max-width) {
                    top: 9%;
                }
            }
        }

        &-staff {
            $member: #{&}-member-container;

            &-container {
                z-index: 2;
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: stretch;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 54%;
                list-style: none;
                box-shadow: 0px 0px 100px 14px rgba(0, 0, 0, 0.21);

                @media screen and (max-width: $laptop-mid-width) {
                    height: 60%;
                }

                @media screen and (max-width: $laptop-undersized-width) {
                    height: 63%;
                }

                @media screen and (max-width: $tablet-max-width) {
                    height: 72%;
                }

                @media screen and (max-width: $mobile-max-width) {
                    height: 80%;
                }

                @media screen and (max-width: $mobile-min-width) {
                    height: 82%;
                }

                @media screen and (max-width: $mobile-undersized-width) {
                    margin-bottom: -28vh;
                    height: 104%;

                    & > #{$member}:last-child {
                        height: 18vh;
                    }
                }
            }

            // Border left set to none on each .staff-section__card-staff-member-container element but first
            &-container &-member-container ~ &-member-container {
                border-left: none;

                @media screen and (max-width: $mobile-max-width) {
                    border: $staff-section-card-border-size solid $staff-section-card-border-color;
                    border-width: $staff-section-card-mobile-border-size;
                }
            }

            &-member {
                &-container {
                    position: relative;
                    flex: 0 0 20%;
                    border: $staff-section-card-border-size solid $staff-section-card-border-color;
                    overflow: hidden;

                    @media screen and (max-width: $mobile-max-width) {
                        flex: 1 1 50%;
                        border-width: $staff-section-card-mobile-border-size;
                        border-bottom: none;
                    }

                    &:hover {
                        & #{$text} {
                            opacity: 1;
                        }

                        & #{$text-wrapper-upper} {
                            top: 0;
                        }

                        & #{$text-wrapper-lower} {
                            bottom: 0;
                        }

                        & #{$title-wrapper-upper} {
                            top: $staff-section-card-text-wrapper-height;
                        }

                        & #{$title-wrapper-lower} {
                            bottom: $staff-section-card-text-wrapper-height;
                        }

                        @media screen and (max-width: $mobile-undersized-width) {
                            & #{$title-wrapper-upper} {
                                top: $staff-section-card-text-wrapper-mobile-height;
                            }

                            & #{$title-wrapper-lower} {
                                bottom: $staff-section-card-text-wrapper-mobile-height;
                            }
                        }
                    }
                }
            }
        }

        &-title {
            margin: 0;
            padding: 0 20%;
            @include interpolate(
                font-size,
                $staff-section-card-title-font-size / $aggressive-responsive-font-size-factor,
                $staff-section-card-title-font-size
            );
            font-weight: 700;
            text-align: center;
            color: $color-mine-shaft-90-alfa;

            @media screen and (max-width: $mobile-max-width) {
                font-weight: 900;
                padding: 0;
            }

            &-wrapper {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: $staff-section-card-title-wrapper-height;
                background-color: $staff-section-card-border-color;
                transform: scale(1.03);

                @media screen and (max-width: $mobile-max-width) {
                    transform: scale(1.1);
                }

                @media screen and (max-width: $mobile-undersized-width) {
                    height: $staff-section-card-title-wrapper-mobile-height;
                }

                &--upper {
                    top: 0;
                    transition: top $staffSectionCardTransitionDurationTimingFunction;
                }

                &--lower {
                    bottom: 0;
                    transition: bottom $staffSectionCardTransitionDurationTimingFunction;
                }
            }
        }

        &-text {
            opacity: 0;
            margin: 0;
            @include interpolate(
                font-size,
                $staff-section-card-text-font-size / $standard-responsive-font-size-factor,
                $staff-section-card-text-font-size
            );
            @include interpolate(
                line-height,
                $staff-section-card-text-line-height / $very-aggressive-responsive-font-size-factor,
                $staff-section-card-text-line-height,
                0
            );
            font-weight: 400;
            text-align: center;
            transition: opacity 400ms ease-in-out 170ms;

            @media screen and (min-width: $mobile-max-width) and (max-height: $mobile-max-width) {
                @include interpolate(
                    font-size,
                    $staff-section-card-text-panoramic-tablet-font-size / $relaxed-responsive-font-size-factor,
                    $staff-section-card-text-panoramic-tablet-font-size
                );
                line-height: initial;
            }

            @media screen and (min-width: $laptop-min-width) and (max-height: $tablet-oversized-width) {
                @include interpolate(font-size, $h4-font-size / $relaxed-responsive-font-size-factor, $h4-font-size);
            }

            @media screen and (min-width: $desktop-min-width) and (max-height: $tablet-oversized-width) {
                @include interpolate(font-size, $h3-font-size / $relaxed-responsive-font-size-factor, $h3-font-size);
            }

            @media screen and (max-width: $mobile-undersized-width) {
                @include interpolate(
                    font-size,
                    $staff-section-card-text-panoramic-mobile-font-size / $aggressive-responsive-font-size-factor,
                    $staff-section-card-text-panoramic-mobile-font-size,
                    0,
                    $mobile-undersized-width
                );
            }

            &-wrapper {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                padding: 0 10% 11%;
                width: 100%;
                height: $staff-section-card-text-wrapper-height;
                background-color: $staff-section-card-border-color;

                @media screen and (max-height: $mobile-max-width), screen and (max-width: $laptop-mid-width) {
                    padding: 0 2%;
                }

                @media screen and (max-width: $mobile-undersized-width) {
                    height: $staff-section-card-text-wrapper-mobile-height;
                }

                &--upper {
                    top: -$staff-section-card-text-wrapper-height;
                    transition: top $staffSectionCardTransitionDurationTimingFunction;
                }

                &--lower {
                    bottom: -$staff-section-card-text-wrapper-height;
                    transition: bottom $staffSectionCardTransitionDurationTimingFunction;
                }

                @media screen and (max-width: $mobile-undersized-width) {
                    &--upper {
                        top: -$staff-section-card-text-wrapper-mobile-height;
                    }

                    &--lower {
                        bottom: -$staff-section-card-text-wrapper-mobile-height;
                    }
                }
            }
        }
    }

    &__title {
        position: relative;
        margin: 0;
        transform: translate(0%, 29%);
        @include interpolate(
            font-size,
            $staff-section-title-font-size / $very-aggressive-responsive-font-size-factor,
            $staff-section-title-font-size
        );
        font-weight: 400;
        color: $color-concrete-25-alpha;

        &-wrapper {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            overflow: hidden;
        }
    }
}
