//
// Variables
//
// If you have an initialization partial (or equivalent), you should move these
// lines to that file. NOTE: Edit the lines to remove "!default".

// The fonts.
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

// The variables used in media queries.
$mobile-undersized-width: 320px;
$mobile-min-width: 375px;
$mobile-mid-width: 480px;
$mobile-max-width: 600px;
$mobile-max-width-inclusive: $mobile-max-width + 1px;
$tablet-max-width: 768px;
$tablet-oversized-width: 800px;
$laptop-undersized-width: 1000px;
$laptop-min-width: 1024px;
$laptop-mid-width: 1280px;
$desktop-min-width: 1440px;
$desktop-mid-width: 1920px;
$desktop-max-width: 2560px;

// The variables used to obtain fluid typography.
$panoramic-responsive-font-size-factor: 6;
$very-aggressive-responsive-font-size-factor: 4.5;
$aggressive-responsive-font-size-factor: 3;
$standard-responsive-font-size-factor: 2;
$relaxed-responsive-font-size-factor: 1.5;
$very-relaxed-responsive-font-size-factor: 1.3;

// The font size set on the root html element.
$base-font-size: 16px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px;

// The line heights for custom elements.
$landing-section-header-line-height: 7.5 * $base-line-height;
$landing-section-description-line-height: 1.3 * $base-line-height;
$landing-section-description-mobile-line-height: 1.14 * $base-line-height;
$staff-section-card-text-line-height: 1.1 * $base-line-height;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: "em";

// The default font family.
$base-font-family: "Lato", sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The font sizes for custom elements.
$nav-link-font-size: 1.3 * $base-font-size;
$nav-overlay-link-font-size: 3 * $base-font-size;
$landing-section-left-header-font-size: 8.2 * $base-font-size;
$landing-section-right-header-font-size: 6.8 * $base-font-size;
$landing-section-header-mobile-font-size: 8 * $base-font-size;
$landing-section-services-link-font-size: 1.34 * $base-font-size;
$landing-section-description-mobile-font-size: 1.3 * $base-font-size;
$services-section-card-title-font-size: 1.33 * $base-font-size;
$services-section-card-content-font-size: 1.23 * $base-font-size;
$staff-section-title-font-size: 26 * $base-font-size;
$staff-section-card-title-font-size: 1.88 * $base-font-size;
$staff-section-card-text-font-size: 1.38 * $base-font-size;
$staff-section-card-text-panoramic-tablet-font-size: 0.9 * $base-font-size;
$staff-section-card-text-panoramic-mobile-font-size: 0.6 * $base-font-size;
$contact-section-card-title-font-size: 5 * $base-font-size;
$contact-section-card-button-font-size: 1 * $base-font-size;
$contact-section-card-text-font-size: 1.5 * $base-font-size;
$contact-section-footer-font-size: 1.1 * $base-font-size;

// The letter spacings for custom elements.
$landing-section-left-header-letter-spacing: 10px;
$landing-section-header-mobile-letter-spacing: 5px;
$staff-section-card-title-letter-spacing: 20px;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false;

// The dimensions of custom elements.
$nav-height: 64px;
$nav-logo-min-height: 40px;
$nav-logo-max-height: 62px;
$staff-section-card-title-wrapper-height: 30%;
$staff-section-card-title-wrapper-mobile-height: 22%;
$staff-section-card-text-wrapper-height: 100% - $staff-section-card-title-wrapper-height;
$staff-section-card-text-wrapper-mobile-height: 100% - $staff-section-card-title-wrapper-mobile-height;

// The colors used throughout the application.
$color-scotch-mist: #fffade;
$color-scotch-mist-20-alpha: #fffade33;
$color-scotch-mist-50-alpha: #fffade8f;
$color-scotch-mist-80-alpha: #fffadecc;
$color-scotch-mist-90-alpha: #fffadee6;
$color-concrete: #f2f2f2;
$color-silver-65-alpha: #c7c7c7a6;
$color-concrete-10-alpha: #f2f2f21a;
$color-concrete-15-alpha: #f2f2f226;
$color-concrete-25-alpha: #f2f2f240;
$color-concrete-35-alpha: #f2f2f259;
$color-concrete-55-alpha: #f2f2f28f;
$color-concrete-65-alpha: #f2f2f2a6;
$color-concrete-80-alpha: #f2f2f2cc;
$color-bright-sun: #ffda38;
$color-supernova: #ffd109;
$color-sunglow: #ffd729;
$color-broom: #ffeb16;
$color-broom-50-alpha: #ffeb168f;
$color-golden-fizz: #fded3c;
$color-golden-fizz-85-alfa: #fded3cd9;
$color-golden-fizz-90-alfa: #fded3ce6;
$color-mine-shaft: #212121;
$color-mine-shaft-20-alfa: #21212133;
$color-mine-shaft-50-alfa: #2121218f;
$color-mine-shaft-80-alfa: #212121cc;
$color-mine-shaft-90-alfa: #212121e6;
$color-mine-shaft-95-alfa: #212121f2;
$color-mine-shaft-darker: #1f1f1f;
$color-tundora: #454545;

// The border variables used by custom elements.
$staff-section-card-border-size: 12px;
$staff-section-card-mobile-border-size: 6px;
$staff-section-card-border-color: $color-bright-sun;

// The variables used by the transitions of custom elements.
$navbarIconTransitionDurationTimingFunction: 250ms ease-in-out;
$navbarIconTransitions: (
    (visibility $navbarIconTransitionDurationTimingFunction),
    (opacity $navbarIconTransitionDurationTimingFunction)
);
$staffSectionCardTransitionDurationTimingFunction: 280ms ease-in-out;
$contactSectionButtonTransitionDurationTimingFunction: 620ms ease-in-out;
$contactSectionButtonTransitions: (
    (stroke-dasharray $contactSectionButtonTransitionDurationTimingFunction),
    (stroke-dashoffset $contactSectionButtonTransitionDurationTimingFunction)
);

// The variables used by the bokeh overlay component.
$bokehCount: 18;
$bokehTextOverlayCount: 4;
$bokehBaseSize: 10rem;
$bokehBaseOpacity: 0.6;
$bokehBaseBrightness: 150;
$bokehBaseDuration: 55s;
$colorSet: (
    $color-concrete-10-alpha,
    $color-mine-shaft-20-alfa,
    $color-mine-shaft-50-alfa,
    $color-mine-shaft-90-alfa
);

:export {
    brightSun: $color-bright-sun;
    mineShaft: $color-mine-shaft;
    mineShaftDarker: $color-mine-shaft-darker;
    black: black;
}
