@import "normalize";

*,
*::before,
*::after {
    box-sizing: border-box;
}

hr {
    margin: 0 5%;
    border-top: 3px solid $color-scotch-mist;
    border-bottom: none;
}

nav {
    z-index: 1;
    position: fixed;
    display: grid;
    grid-template-columns: 612fr 388fr;
    top: 0%;
    width: 100vw;
    height: 64px;
}

.nav {
    &__logo {
        height: 70px;
        padding-top: 22px;
        padding-left: 22px;
        filter: invert(96%);
        pointer-events: none;

        &-container {
            position: absolute;
            display: block;
            height: 70px;

            &-wrapper {
                position: relative;
                grid-column: 1;
            }
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        height: 100%;
        padding: 25px;
        font-size: $nav-link-font-size;
        text-decoration: none;
        color: $color-mine-shaft-95-alfa;
        transition: color 300ms ease-in-out 50ms;

        &-container {
            &-wrapper {
                grid-column: 2;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                list-style: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 18.5%;
            left: 12%;
            width: 0;
            height: 3px;
            background-color: $color-broom;
            transition: width 250ms ease-in-out;
        }

        &:hover {
            color: $color-mine-shaft-50-alfa;

            &::after {
                width: 76%;
            }

            &:active {
                color: $color-broom;
                transition: color 80ms ease-in-out;
            }
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    color: $color-mine-shaft-95-alfa;
}

.section {
    &--white {
        background: white;
    }

    &--yellow {
        background: $color-bright-sun;
    }

    &--black {
        background: black;
    }
}

.landing-section {
    display: grid;
    grid-template-columns: 618fr 382fr;

    &-left {
        grid-column: 1;
        background-color: #151515;

        &__image-container {
            position: relative;
            height: 100%;
            transform: scaleX(-1);
            filter: grayscale(100%);
        }

        &__image {
            position: absolute;
            right: 0%;
            bottom: 0%;
            height: 100%;
            max-width: 100vw;
            object-fit: cover;

            // Blur should be removed so that it won't be rendering unnecessary borders around the image
            filter: blur(4px);
        }
    }

    &-right {
        position: relative;
        grid-column: 2;
        width: 100%;
        box-shadow: inset 100px -10px 55px -102px rgba(0, 0, 0, 0.45);
        background-color: white;

        &__text {
            &-container {
                &-left,
                &-right {
                    position: absolute;
                    top: 35%;
                    left: 0%;
                    line-height: $landing-section-header-line-height;
                }

                &-left {
                    transform: translate(-101%, -50%);
                    mix-blend-mode: screen;
                    font-size: $landing-section-left-header-font-size;
                    font-weight: 900;
                    letter-spacing: $landing-section-left-header-letter-spacing;
                    text-align: right;
                    color: $color-broom;
                }

                &-right {
                    transform: translate(3%, -50%);
                    padding-top: $h3-font-size;
                    font-size: $landing-section-right-header-font-size;
                    text-align: left;
                    color: $color-mine-shaft;
                }
            }

            &-upper,
            &-lower {
                &-left,
                &-right {
                    margin: 0;
                    padding: 0;
                }
            }

            &-description {
                position: absolute;
                bottom: 24.5%;
                left: 13%;
                font-size: $h2-font-size;
                line-height: $landing-section-description-line-height;
            }

            &-read-more {
                position: absolute;
                top: 0%;
                right: 1%;
                margin: 0;
                padding: 0;
                font-size: $h2-font-size;
                color: $color-mine-shaft-50-alfa;
            }
        }

        &__text-read-more,
        &__line {
            transition-property: color, stroke;
            transition-duration: 200ms;
            transition-timing-function: ease-in-out;
        }

        &__read-more-container {
            position: relative;
            height: 100%;
            width: 100%;

            &-wrapper {
                position: absolute;
                bottom: 10%;
                left: 0%;
                height: 5.5%;
                width: 71%;
            }

            &:hover .landing-section-right__text-read-more {
                color: $color-broom;
                cursor: default;
            }

            &:hover .landing-section-right__line {
                stroke: $color-broom;
            }
        }

        &__line {
            stroke: $color-mine-shaft-50-alfa;
            stroke-width: 2;

            &-container {
                position: absolute;
                bottom: 0%;
                height: 30%;
                width: 100%;
            }
        }
    }
}

.services-section {
    &__card {
        display: inline-block;
        margin: 0 1.4vw;
        width: 23%;
        min-width: 400px;
        height: 61vh;
        border: 3px solid $color-scotch-mist;
        border-radius: 20px;
        color: $color-mine-shaft-95-alfa;

        &--background {
            &-visuals,
            &-development,
            &-maintenance {
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: right -50% bottom -10%;
                transition: background-position 400ms ease-out;

                &:hover {
                    background-position: right 0% bottom -10%;
                }
            }

            &-visuals {
                background-image: url(../../public/icon-visuals.svg);
            }

            &-development {
                background-image: url(../../public/icon-development.svg);
            }

            &-maintenance {
                background-image: url(../../public/icon-maintenance.svg);
                background-size: 58%;
                background-position: right -34% bottom 0%;

                &:hover {
                    background-position: right 0% bottom -0%;
                }
            }
        }

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3.5%;
            width: 100%;
            height: 100%;
        }

        &-title {
            padding-top: 1.7%;
            padding-bottom: 1%;
            font-size: $services-section-card-title-font-size;
            font-weight: 800;
            text-align: center;
        }

        &-content,
        &-service-container {
            font-size: $services-section-card-content-font-size;
            text-align: justify;
        }

        &-content {
            padding: 0 11%;
        }

        &-service {
            &-container {
                &--left-indent {
                    padding-inline-start: 16%;
                }
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

// @mixin element-color($color) {
//     background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
// }
