@import "normalize";
@import "fluid_typography";

@import "section/landing";
@import "section/services";
@import "section/staff";
@import "section/contact";

*,
*::before,
*::after {
    box-sizing: border-box;
}

#landing,
#services,
#staff,
#contact {
    visibility: hidden;
}

body {
    user-select: none;
    overflow: hidden;
    background-color: $color-mine-shaft;
}

main {
    overflow: hidden;
}

hr {
    margin: 0 5%;
    border-top: 3px solid $color-scotch-mist;
    border-bottom: none;
}

a,
input {
    -webkit-tap-highlight-color: transparent;
}

header,
%header {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bright-sun;

    &__overlay {
        @extend %header;
        z-index: 99;
        top: 100%;
        background-color: $color-tundora;
    }

    &__logo {
        &-wrapper {
            width: 18%;
        }
    }
}

nav {
    z-index: 10;
    position: fixed;
    display: grid;
    grid-template-columns: 612fr 388fr;
    top: 0;
    width: 100vw;
    @include interpolate(height, $nav-height / $very-relaxed-responsive-font-size-factor, $nav-height, 0);
}

.nav--no-js {
    background: $color-concrete-55-alpha;

    @media screen and (max-width: $tablet-max-width) {
        background: initial;
    }
}

input {
    &[type="checkbox"] {
        &:checked {
            // Prevent input from disappearing when a viewport width exceeds tablet width
            visibility: visible;

            // Prevent icon from disappearing when a viewport width exceeds tablet width
            & ~ .nav__icon-wrapper {
                visibility: visible;
                opacity: 1;
            }

            & ~ .nav__overlay {
                display: block;
            }

            & ~ .nav__link-wrapper-container {
                z-index: 21;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                left: 0;
                padding: 36vh 0;
            }

            & ~ .nav__link-wrapper-container .nav__link-wrapper .nav__link {
                margin: 0;
                padding: 6%;
                @include interpolate(
                    font-size,
                    $nav-overlay-link-font-size / $standard-responsive-font-size-factor,
                    $nav-overlay-link-font-size,
                    0
                );
                transition: color 150ms ease-in-out 20ms;

                &::after {
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    background-color: white;
                }

                &:hover {
                    color: $color-mine-shaft;

                    &::after {
                        width: 99%;
                    }

                    &:active {
                        color: $color-mine-shaft-50-alfa;
                    }
                }
            }
        }
    }
}

.nav {
    &__logo {
        @include interpolate(height, $nav-logo-min-height, $nav-logo-max-height, 0);
        @include interpolate((padding-top padding-left), 16px, 22px);
        filter: invert(96%);
        pointer-events: none;

        &-wrapper {
            z-index: 22;
            position: absolute;
            display: block;
            height: 70px;

            &-wrapper {
                position: relative;
                grid-column: 1;
            }
        }
    }

    &__toggler {
        z-index: 22;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 58px;
        height: 58px;
        padding: 20px 23px 0 0;
        cursor: pointer;

        @media screen and (max-width: $tablet-max-width) {
            visibility: visible;
        }
    }

    &__icon {
        width: 4.6vw;
        min-width: 17px;
        max-width: 28px;

        &-wrapper {
            z-index: 21;
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            right: 0;
            padding: 20px 23px 0 0;
            filter: invert(26%);
            transition: $navbarIconTransitions;

            @media screen and (max-width: $tablet-max-width) {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__overlay {
        z-index: 20;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $color-bright-sun;
    }

    &__link {
        position: relative;
        display: inline-block;
        @include interpolate((padding-top, padding-right, padding-bottom, padding-left), 18px, 25px, $tablet-max-width);
        @include interpolate(
            font-size,
            $nav-link-font-size / $relaxed-responsive-font-size-factor,
            $nav-link-font-size
        );
        text-decoration: none;
        transition: color 300ms ease-in-out 50ms;

        &-wrapper {
            &-container {
                grid-column: 2;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                list-style: none;

                @media screen and (max-width: $tablet-max-width) {
                    display: none;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 18.5%;
            left: 12%;
            width: 0;
            @include interpolate(height, 2px, 3px, $laptop-undersized-width, $desktop-min-width);
            background-color: $color-broom;
            transition: width 250ms ease-in-out;
        }

        &:hover {
            &::after {
                width: 75.2%;
            }

            &:active {
                transition: color 90ms ease-in-out;
            }
        }

        // An important rule is used to prevent the section's modifier class from applying its rulesets
        &--overlay {
            color: $color-mine-shaft-95-alfa !important;

            &:hover {
                color: $color-mine-shaft-50-alfa !important;

                &:active {
                    color: $color-broom !important;
                }
            }
        }

        &--landing {
            color: $color-mine-shaft-95-alfa;

            &:hover {
                color: $color-mine-shaft-50-alfa;

                &:active {
                    color: $color-broom;
                }
            }
        }

        &--services {
            color: $color-mine-shaft-95-alfa;

            &:hover {
                &:active {
                    color: $color-mine-shaft-50-alfa;
                }
            }

            &::after {
                background-color: white;
            }
        }

        &--staff {
            color: $color-concrete-65-alpha;

            &:hover {
                color: white;

                &:active {
                    color: $color-mine-shaft-50-alfa;
                }
            }

            &::after {
                background-color: $color-bright-sun;
            }
        }

        &--contact {
            color: $color-concrete-80-alpha;

            &:hover {
                color: white;

                &:active {
                    color: $color-mine-shaft-50-alfa;
                }
            }

            &::after {
                background-color: $color-broom;
            }
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    color: $color-mine-shaft-95-alfa;
    overflow: hidden;
}

.section {
    &--mine-shaft-darker {
        background: $color-mine-shaft-darker;
    }

    &--bright-sun {
        background: $color-bright-sun;
    }

    &--mine-shaft {
        background: $color-mine-shaft;
    }

    &--black {
        background: black;
    }
}

.scroll-indicator {
    z-index: 10;
    position: fixed;
    left: 20px;
    bottom: 18px;
    width: 30px;
    height: 45px;
    border: solid 2px $color-scotch-mist-50-alpha;
    border-radius: 16px;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    visibility: hidden;

    @media screen and (max-width: $mobile-max-width) {
        display: none;
    }

    &-arrow {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 3px;
        height: 6px;
        border-radius: 45%;
        background-color: $color-scotch-mist-50-alpha;
        animation: 1.8s ease infinite scroll-indicator;
    }
}

@keyframes scroll-indicator {
    0% {
        margin-top: 20px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 2px;
        opacity: 0;
    }
}
